includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - routes
        - tests
        - database/factories
        - database/seeders
    level: 5
    tmpDir: storage/framework/cache/phpstan
    treatPhpDocTypesAsCertain: false
    universalObjectCratesClasses:
        - stdClass
    excludePaths:
        analyse:
            - bootstrap/cache/*
            - storage/*
            - vendor/*
